<h1>New Request</h1>
<div> 
  <img src="http://localhost:8080/getImage?imageId={{item?.iconId}}" width="50" height="50">
  <h3>{{item?.name}}</h3>
</div>
<form clrForm [clrLayout]="'horizontal'" [formGroup]="formGroup">
  <clr-input-container>
    <label>Project</label>
    <input clrInput name="Project" formControlName="Project"/>
    <clr-control-helper>Enter your username</clr-control-helper>
    <clr-control-error>The username is required</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Deployment Name</label>
    <input clrInput name="DeploymentName" type="text" formControlName="DeploymentName"/>
    <clr-control-error>Deployment Name is required</clr-control-error>
  </clr-input-container>

  <button class="btn btn-primary" (click)="submited()">Submit</button>
</form>

<cds-select control-width="shrink">
  <label>textarea</label>
  <select>
      <option>Option One</option>
      <option>Option Two</option>
      <option>Option Three</option>
  </select>
  <cds-control-message>message text</cds-control-message>
</cds-select> 
