<h1>New Request</h1>
<div> 
  <img src="http://localhost:8080/getImage?imageId={{item?.iconId}}" width="50" height="50">
  <h3>{{item?.name}}</h3>
  <form clrForm [formGroup]="formGroup">
    <clr-select-container>
      <label>Select version</label>
      <select clrSelect name="options"  formControlName="Version">
          <option *ngFor="let version of item.versions" [value]="version.id"  >{{version.id}}</option>
      </select>
    </clr-select-container>
  </form>


</div>
<form clrForm [clrLayout]="'horizontal'" [formGroup]="formGroup">
  <form clrForm [formGroup]="formGroup">
    <clr-select-container>
      <label>Select Project</label>
      <select clrSelect name="options"  formControlName="ProjectName">
          <option  *ngFor="let project of item.projects" [value]="project.id" >{{project.name}}</option>
      </select>
    </clr-select-container>
  </form>
  <clr-input-container>
    <label>Deployment Name</label>
    <input clrInput name="DeploymentName" type="text" formControlName="DeploymentName"/>
    <clr-control-error>Deployment Name is required</clr-control-error>
  </clr-input-container>

  <button class="btn btn-primary" (click)="submit()">Submit
  </button>
    <app-alert></app-alert>
</form>
