<h1>New Request</h1>
<div> 
  <img src="http://localhost:8080/getImage?imageId={{item?.iconId}}" width="50" height="50">
  <h3>{{item?.name}}</h3>
  <form clrForm [formGroup]="formGroup">
    <clr-select-container>
      <label>Select version</label>
      <select clrSelect name="options"  formControlName="Version">
          <option value="version"  *ngFor="let version of item.versions">{{version.id}}</option>
      </select>
    </clr-select-container>
  </form>


</div>
<form clrForm [clrLayout]="'horizontal'" [formGroup]="formGroup">
  <clr-input-container>
    <label>Project</label>
    <input clrInput name="Project" formControlName="Project"/>
    <clr-control-helper>Choose project</clr-control-helper>
    <clr-control-error>Project is required</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Deployment Name</label>
    <input clrInput name="DeploymentName" type="text" formControlName="DeploymentName"/>
    <clr-control-error>Deployment Name is required</clr-control-error>
  </clr-input-container>

  <button class="btn btn-primary" (click)="submited()">Submit</button>
</form>
