<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
      <div class="card">
        <div class="card-header">
          <div>{{name}}</div>
            <!--
            <app-card-header [cardHeader]="'aaa'"></app-card-header>
            -->
        </div>
        <div class="card-block">
          <div class="card-body">
            <div> {{description}}</div>
              <!---
            <app-card-image *ngIf="showImage"></app-card-image>
            <app-card-list *ngIf="!showImage"></app-card-list>
              -->
          </div>
        </div>
        <div class="card-footer">
          <div>{{projectIds}}</div>
          <div>
            <button class="btn btn-primary" (click)="clicked = !clicked">Request</button>
            <div *ngIf="clicked"><app-request-form></app-request-form></div>
          </div>
            <!--
            <app-card-footer (buttonClicked)="onButtonClicked($event)"></app-card-footer>
            -->
        </div>
      </div>
    </div>
</div>